@page "/"

<PageTitle>Index</PageTitle>

<h1>Model Railway Virtual DCC Sound System</h1>

This application can manage sound collections for locomotives. Typically, you can configure a Decoder with an Id that matches a model railway locomotive's DCC decoder address.
If this system is configured to recieve DCC events, events for a matching locomotive Id (example speed commands) it will cause the sound decoder to play a sound (chuff-chuffs,whistles etc) through the computer speakers...in theory it might be possible to use this with a conventional DC controller with somekind of hardware interface that converted 12V range to a byte value.


